[Desktop Entry]
Type=Application
Version=1.5
Name=Genvej
GenericName=Web-apps
Comment=Opret og fjern web-apps (PWA'er) på skrivebordet
Exec=genvej
Icon=genvej
Terminal=false
StartupNotify=true
StartupWMClass=genvej
Categories=Settings;DesktopSettings;
Keywords=pwa;webapp;web;app;genvej;browser;
